@model IEnumerable<SocialMonster.Models.Twitter>

@{
    ViewBag.Title = "TwitterInfo";
}
<div class="card">
    <div class="card-header">Twitter POST</div>
    <div class="card-body">

        @foreach (var post in Model)
        {
            <div style="padding:10px; border-bottom:1px solid #eee; font-family:Roboto;">
                <div style="float:left;"><B>@post.Tittle</B></div>
                <div align="right" style="font-style:italic; color:#ccc;">@post.Date</div>
                <div style="text-align:justify;">@post.Text</div>
            </div>
        }

        <div align="right"><a id="@ViewData["peopleID"]" class="btn btn-sm twitterDetail" name="seeBtn"> Дэлгэрэнгүй </a></div>
    </div>
</div>



<script>

    $(".twitterDetail").click(function () {

        var PersonID = $(this).attr("id");

        $.ajax({
            type: "POST",
            url: '/Analysis/TwitterPosts',
            data: { 'PeopleID': PersonID },
            success: function (data) {
                // alert(data);
                $("#MainSection").html(data);
            },
            error: function () {
                alert('Error occured');
            }
        });

    });


</script>